*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*.old
build
Debug
*~
*.o
*.obj
*.out
*.bak
*.dep
*.lib
*.i
*.d
.DS_Stor*
.config 3
.config 4
.config 5
*.uimg
GPATH
GRTAGS
GTAGS
JLinkLog.txt
JLinkSettings.ini
DebugConfig/
RTE/
settings/
*.uvguix*
cubemx/.mxproject
cubemx/CMakeLists.txt
cubemx/CMakePresets.json
cubemx/cubemx.ioc
cubemx/SConscript
cubemx/startup_stm32f407xx.s
cubemx/STM32F407VETx_FLASH.ld
cubemx/cmake
cubemx/Drivers
.settings
_tools/gcc-arm-none-eabi-5_4
_tools/PyOCD
